.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }
  .online {
    animation: pulsing 0.5s infinite;
  }
  .webcamera {
    height: 30px;
    width: 30px;
  }
  .video {
    height: 400px;
    width: 400px;
  }
  .videoClick {
    background: none;
  }
  @-webkit-keyframes pulsing {
    0% {
      opacity: 0.8;

    }
    50% {
      opacity: 0.7;

    }
    100% {
      opacity: 0.8;

    }
  }
  
  @keyframes pulsing {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.7;
    }
  }
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }